<div class='center-box'>
  <p>This is a simple ruby wep app to play rock, paper, scissors in your browser.</p>
  <p>To play the game enter a url like the one shown below.</p>
  <p><em>http://localhost:4567/rock/paper</em></p>
</div>
